<h3>New Post Page</h3>
<br>
<br>


<form action= "/create_post" method= "post">
<label for= "post_title">Post Title:</label>
<input type = "text" size= "100em" id= "post_title" name= "post[post_title]">
<br>
<label for = "content"> Blog Post:</label>
<textarea name: "Blog Post:" rows= 10 cols= 30> </textarea>
<br>
<br>
<input type = "submit" value= "Create Post"> 
<a href="/">back</a>
</form>

<!-- <input type = "text" size= "100em x 100em" id= "content" name= "post[content]"> -->