<!DOCTYPE html>


<html>
<head>
  <link rel= "stylesheet" href= "css/bootstrap.css"  type= "text/css">
  <title>You all right, Dexter?</title>
</head>
<body>

  <h1>You all right, Dexter?</h1>
  <h4>He taught me a code. To survive.</h1>
  <div class="”container”">
  <%= yield %>
  <br>
  This will be a Footer :)

</body>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src=”js/bootstrap.js”></script>
</html>