h1{
  background-color: #a8a8a8; background-image: url(http://www.transparenttextures.com/patterns/honey-im-subtle.png);font-weight: normal; font-size: 50px; background-color: #989898; padding: 5px; margin: 0; color: #55B59F; text-shadow: 2px 2px 3px #666666;text-align: center; width: 100;
}

body{
 font-family: 'Arvo', serif; background-color: #7a7a7a; background-image: url(http://www.transparenttextures.com/patterns/honey-im-subtle.png) ; color: white; font-weight: 550px; font-size: 19px; margin: 0px;
}

h2{
  margin: 20px 0px 0px 20px; color: white; text-shadow: 2px 2px 1px #666666;text-align: left; margin: 0px;

}
h3{
  margin: 20px 0px 0px 20px; font-weight: normal;
}
a {
    padding-top: 20px; margin: 20px 0px 0px 20px; text-decoration: none; text-shadow: .5px .5px #666666; letter-spacing: 1.5px;
}
a:link, a:visited {
    color: #FF444F;
}
a:hover {
    color: orange;
}

h4{
  font-weight: normal;
}
label{
  color: white;
}
p{
  margin-left: 20px;
}
div{
  margin-left: 20px;
}