a{
    padding-top: 20px; 
    margin: 20px 0px 0px 20px; 
    text-decoration: none; 
    text-shadow: .5px .5px #666666; 
    letter-spacing: 1.5px;
    color: #1D1D1C;
}

a:hover {
    color: #04B4AE;
}

a:link, a:visited {
  color: #252524;
  text-decoration: none;
}

a.patient_search{
color: white;
}
a.Examined{
color: white;

}
a.X-rayed{
color: white;
}
a.Recovery{
  color: white;
}
a.Billing{
  color: white;
}
a.Discharge{
  color: white;
}
body{
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #BCB5A9; 
  color: black;
  font-size: 21px; 
  margin: 0px;
  
}

.doctor_display_name{
  color: #175965;
  font-size: 21px;
}



h1{
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 15px; 

  margin-top: 60px; 
  margin: 0; 
  color: #1D1D1C; 
  text-shadow: 2px 2px 3px #666666;
  text-align: center; 
}

h2{
  margin: 20px 0px 0px 20px; 
  color: #1D1D1C; 
  text-shadow: 1px 1px 1px #666666;
  text-align: left; 
  margin: 0px;

}
h3{
  margin: 20px 0px 0px 20px; 
  font-size: 25px;
  color: #1D1D1C;
}

.hospital_control{
  text-align: center;
}

input{
  color: black;
}

label{
  color: #1D1D1C;
}
li.patient_search{
  display: block;
}

ul.nav-pills{
  background-color: rgba( 47,46,45, .8);
  border-bottom: 10px #FE5620;
  margin-top: 0px;
 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  background-color: #1D1D1C;
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
}
.nav-pills>li{
  float: right;
}
div.col-xs-12{
  background-color: #F73025;
}


p{
  margin-left: 20px;
  color: #1D1D1C;
}

.patient_search_return{
  color: #1D1D1C;
}


/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */


/* Custom page footer */
.footer {
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgba( 47,46,45, .8);

}
.footer_info{
  color: white;
  padding-left: 1%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.container-xs-2.title{
  max-width: 5%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.container{

  background-color: #E2DDD4;
  background-repeat: repeat;
  border-radius: 10px;
  border-color: 15px black;
  margin-left: auto;
  margin-top: 5%;
}
/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .btn-success{
  background-color: #F73025;
  color: white;
  border: none;
  }
  .btn-success:hover{
    background-color: #D9281F;
    border: none;
    color: white;
  }
}