
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Pirata+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="stylesheet1.css">

  <title>Harry Potter</title>
</head>
<body>
   


<div class= "header">
  <a href="/">Harry Potter</a> 
</div>
  <div>
    <nav role="main">
  <a href="/1">Book One---</a>
   <a href="/2">---Book Two</a>
 </div>
  <%= yield %>
  <%= @Faker %>


<!-- <div class="footer"> -->
      <!-- Mischief Managed!</div></body> -->
</html>