/ = link_to 'Admit New Patient', new_hospital_patient_path(patient)
/ %br
/ %table
/   %tr
/     %th first_name
/     %th last_name
/     %th dob
/     %th description
/     %th gender
/     %th Workflow State
/     %th Change State

/   - hospital_patient.each do |patient|
/     %tr
/       %td= patient.first_name
/       %td= patient.last_name 
/       %td= patient.dob 
/       %td= patient.description
/       %td= patient.genders
/       %td= patient.workflow_state
/       %td= link_to 'Show', patient
/       %td= link_to 'Edit', edit_hospital_patient_path(patient)

  